html
  head
    meta(charset='utf-8')
    title Typpo
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono')
  body
    #game-container

    p(style="font-family: 'Droid Sans Mono';") Typpo

    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/phaser-official/build/phaser.min.js')
    script(src='/game.js')
