html
  head
    meta(charset='utf-8')
    title Typpo
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono')
    link(rel='stylesheet', type='text/css', href='/assets/css/stylesheet.css')

  body
    #content
        #info
            .left
                h1 Typpo
            .right
                p.
                    Typpo is a work in progress multiplayer game where the goal is to type faster than
                    your opponent. Works best in Chrome!

        #game-container

        input(id='nick-input', type='text')
        input(id='match-input', type='text', readonly)

        // This is needed to make sure the fonts are loaded before the game tries to use them:
        p#hallo-black Typpo
        p#droid Typpo
        p#clear-bold Typpo
        p#hallo-regular Typpo


        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/phaser-official/build/phaser.min.js')
        script(src='/game.js')
